.about-page {
    padding-bottom: 80px;
    background: #fff;
    min-height: 100%;

    .more-product {
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #CCC;
        letter-spacing: 0;
        text-align: center;
    }

}