<wk-modal :mask-opacity="0.5"
          class="share-mask"
          v-model="show"
          @tap="close">
    <div class="real-name">
        <div class="real-name-top">
            <div class="u51-close" @click="close">
                <wk-icon color="#999" class="u51-close" type="u51-close"></wk-icon>
            </div>
        </div>
        <div class="real-name-title">实名认证</div>
        <img src="https://51nbimg.u51.com/6a1f5c10e40c452b8af4d0db03f71797.png" class="real-name-img">
        <p class="real-name-text">为保护您的账户安全，请先完成实名认证</p>
        <div class="real-name-btn" @click="clickAction">去实名</div>
    </div>
</wk-modal>