.flex-row{
    flex-direction: row;
    display: flex;
}
.coupon-item{
    border-radius: 2px;
    background: #fff;
    margin: 12px 0 0!important;
    &-used{
        width: 74px;
        height: 54px;
        position: absolute;
        right:16px;
        top:0;

    }
    &-top{
        padding: 6px 16px 16px;
        flex-direction: row;
        justify-content: space-between;
        display: flex;
    }
    &-label{
        color: #333;
        font-size: 14px;
        line-height: 22px;
        margin-top: 8px !important;
        font-weight: bold;
    }
    &-time{
        flex-direction: row;
    }
    &-date{
        font-size: 12px;
        line-height: 20px;
        color: #666;
    }
    &-timetip{
        font-size: 12px;
        line-height: 20px;
        color: #ff5a5a;
    }
    &-amount{
        justify-content: flex-end;
    }
    &-value{
        font-size: 24px;
        line-height: 32px;
        color: #999 ;
        font-family: DIN;
        &-0, &-1, &-2{
            color: #FF5151 ;
        }
    }
    &-unit{
        font-size: 12px;
        color: #999;
        margin-top: 11px !important;
        margin-left: 4px !important;
        &-0, &-1, &-2{
            color: #FF5151 ;
        }
    }
    &-type-label{
        font-size: 12px;
        line-height: 20px;
        color: #666;
    }
    &-icon{
        width: 12px;
        height: 12px;
        margin-left: 4px !important;
    }
    &-line{
        border-top:1pt dashed #e5e5e5;
        margin: 0 12px !important;

        &-box {
            width: 100%;
            position: relative;
        }
    }
    .coupon-item-line{
        border-top:0;
        background: repeating-linear-gradient(90deg,#e5e5e5 0,#e5e5e5 3px,#fff 0,#fff 7px);
        height: 1pt;
    }
    &-bottom{
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
    }
    &-rule{
        font-size: 11px;
        line-height: 19px;
        color: #999;
    }
    &-type{
        align-items: center;
        justify-content: flex-end;
    }
    &-circle{
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: #f5f5f5;
        position: absolute;
        top:-5px;
        &-left{
            left: -5px;
        }
        &-right{
            right: -5px;
        }
    }
    &-btn{
        width: 66px;
        height: 28px;
        background: #fff;
        border-radius: 39px;
        font-size: 12px;
        color: #999;
        line-height: 28px;
        text-align: center;
        border:1pt solid #999;
        &-0, &-1, &-2{
            color: #fff;
            border:0pt solid transparent;
            background-image: linear-gradient(to right,#ff7373,#ff5151);

        }
    }
    &-btn-web{
        width: 66px;
        height: 28px;
        background: #fff;
        border-radius: 39px;
        font-size: 12px;
        color: #999;
        line-height: 28px;
        text-align: center;
        border:1pt solid #999;
        &-0, &-1, &-2{
            color: #fff;
            border:none;
            //background-image: linear-gradient(-135deg, #FF8484 0%, #FF5151 100%);
            background-image: linear-gradient(109deg,#ff7373,#ff5151);

        }
    }
    .coupon-item-btn{
        width: 66px;
        height: 28px;
        background: #fff;
        border-radius: 39px;
        font-size: 12px;
        color: #999;
        line-height: 28px;
        text-align: center;
        border:1pt solid #999;
        &-0, &-1, &-2{
            color: #fff;
            border:none;
            //background-image: linear-gradient(-135deg, #FF8484 0%, #FF5151 100%);
            background-image: linear-gradient(109deg,#ff7373,#ff5151);

        }
    }
    &-new{
        width: 28px;
        height: 16px;
        margin-left: 5px !important;
    }
    &-invalid{
        width: 46px;
        height: 16px;
        margin-left: 5px !important;
    }
}