<div class="coupon-item">
    <div class="coupon-item-top">
        <div>
            <p class="coupon-item-label">{{data.source}}</p>
            <div class="flex-row">
                <p class="coupon-item-date">{{ timeTip }}</p>
                <p class="coupon-item-timetip">{{data.timeRedtip}}</p>
                <img v-if="data.cornerType == 1" class="coupon-item-new" src="https://pic.51zhangdan.com/u51/storage/project_4419/3fc6e5ef-0425-27cb-e07b-e5a77025116f.png" />
                <img v-if="data.cornerType == 2" class="coupon-item-invalid" src="https://pic.51zhangdan.com/u51/storage/project_4419/93031e78-dde1-fdd6-1de1-b947447ddea0.png" />
            </div>
        </div>
        <div>
            <div class="flex-row coupon-item-amount">
                <p class="coupon-item-value" :class="['coupon-item-value-'+ data.state]">{{amountRender(data.amount)}}</p>
                <p class="coupon-item-unit" :class="['coupon-item-unit-'+ data.state]">元</p></div>
            <div class="flex-row coupon-item-type">
                <p class="coupon-item-type-label">{{data.ticketLabel}}</p>
                <img class="coupon-item-icon" :src="statusIcon" />
            </div>
        </div>
    </div>
    <div class="coupon-item-line-box">
        <div class="coupon-item-line"></div>
        <div class="coupon-item-circle coupon-item-circle-left"></div>
        <div class="coupon-item-circle coupon-item-circle-right"></div>
    </div>
    <div class="coupon-item-bottom flex-row">
        <div class="coupon-item-rules">
            <p class="coupon-item-rule" >{{ data.bottomTips }}</p>
        </div>
        <p class="coupon-item-btn" :class="['coupon-item-btn-'+ data.state]" @click="goPage('index')">{{ buttonStatus }}</p>
    </div>
</div>