.detail-list {
    background: #fff;
    padding: 0 0 10px;

    &-item {
        flex-direction: row;
        display: flex;
        height: 16px;
        margin-top: 12px;
        justify-content: space-between;
        align-items: center;

        &-nopadding {
            margin-top: 0;
        }

        &-name, &-value {
            font-family: PingFang-SC-Regular;
            font-size: 14px;
            color: #333;
        }

        &-name {
            width: 244px;
            lines: 1;
            -webkit-line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #999;
        }

        &-value {
            flex-direction: row;
            justify-content: flex-end;
        }

        &-more {
            font-family: PingFang-SC-Regular;
            font-size: 14px;
            color: #1874FA;
            padding-top: 12px;
        }
    }
}

