.red-pack {
    width: 295px;
    height: 289px;
    position: relative;

    &-img {
        width: 295px;
        height: 289px;
    }

    &-close {
        width: 26px;
        height: 26px;
        position: absolute;
        top: 38px;
        right: 16px;
    }

    &-btn {
        width: 239px;
        height: 42px;
        position: absolute;
        bottom: 29px;
        left: 28px;
    }
}