<div class="home-page">
    <div class="banner">
        <div class="banner-in">
            <wk-swiper :outer-width="750" :slide-width="686" :gap-width="32" class="banner-slider-in" type="dark-dash" :interval="3000" :loop="true" :auto="true" v-if='banners.length'>
                <div class="banner-img"
                     v-for="(img, i) in banners" @panstart  @click='bannerLink(img)'>
                    <img auto-bitmap-recycle="false" :src='img.picURL' :key='i' class='banner-img' />
                </div>
                <wk-indicator class="banner-indicator" slot="indicator" />
            </wk-swiper>
        </div>
        <div class="banner-icons">
            <img src="https://51nbimg.u51.com/ea434bf1bb5649ba9507140b63f5403f.png" alt="推广产品"
                 class="banner-icons">
        </div>
    </div>
    <div class="gap-6"></div>
    <div class="product" v-for="(cate, index) in productList" :key="index">
        <h3 class="product-title">{{ cate.insTypeName }}</h3>
        <div class="product-list">
            <div class="product-item" v-for="(item, i) in cate.products" :key="i">
                <product-card :product="item"></product-card>
            </div>
        </div>
    </div>
    <p class="more-product">更多产品即将发布，敬请期待～</p>
</div>